html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  color: #4a4a4a; }

* {
  box-sizing: border-box; }

.ep-right {
  float: right; }

.ep-left {
  float: left; }

.hidden {
  display: none !important; }

#container {
  width: 100%;
  height: 100%; }
  #container .app {
    width: 100%;
    height: 100%; }
    #container .app .app-content {
      width: 100%;
      height: 100%;
      padding: 70px 0 0; }
      #container .app .app-content .section-info {
        padding: 0 16px 16px; }
        #container .app .app-content .section-info h1 {
          font-family: "Roboto Medium", sans-serif;
          font-size: 16px;
          margin-top: 30px; }
          #container .app .app-content .section-info h1:first-of-type {
            margin-top: 10px; }
        #container .app .app-content .section-info h2 {
          font-family: "Roboto Bold", sans-serif;
          margin-top: 30px;
          color: #00acb4;
          font-size: 16px; }
        #container .app .app-content .section-info p {
          font-family: "Roboto Light", sans-serif;
          font-size: 14px; }
        #container .app .app-content .section-info b {
          font-family: "Roboto Bold", sans-serif; }
        #container .app .app-content .section-info .img-caption-group img {
          max-width: 100%;
          display: block;
          margin: auto; }
        #container .app .app-content .section-info .img-caption-group .caption {
          display: block;
          margin-top: 10px;
          font-size: 12px;
          font-family: 'Roboto Medium', sans-serif; }

/* Slideshow */
.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.slideshow > .slide {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateX(100%);
  transition: transform .3s ease .3s; }

.slideshow > .slide.current {
  transform: translateX(0); }

.slideshow > .slide.done {
  transform: translateX(-100%); }

.slideshow > .slide > .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 16px; }

.slideshow > .slide > .slide-content > .slide-icon {
  background-color: #00acb4;
  width: 104px;
  height: 104px;
  display: block;
  margin: 0 auto 38px;
  border: solid 2px #fff;
  border-radius: 50%;
  position: relative; }
  .slideshow > .slide > .slide-content > .slide-icon:after {
    content: "?";
    display: block;
    width: 106px;
    height: 106px;
    margin: auto;
    border: solid 4px #00acb4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    line-height: 112px;
    color: #fff; }

.slideshow > .slide > .slide-content > h1 {
  font-size: 20px;
  margin: 0 0 20px; }

.slideshow > .slide > .slide-content > p {
  font-size: 14px;
  margin: 0 0 30px 0; }

.slideshow > .slide > .slide-content > .input-group {
  margin: 0 14px; }

/* Slideshow choices */
.slideshow .choices {
  max-width: 200px;
  overflow: hidden;
  text-align: center;
  margin: auto; }
  .slideshow .choices .choice-button {
    display: inline-block; }
    .slideshow .choices .choice-button:nth-child(even) {
      margin-left: 30px; }
    .slideshow .choices .choice-button:nth-child(1) .ep-btn {
      margin: 0; }
    .slideshow .choices .choice-button:nth-child(2) .ep-btn {
      margin: 0; }
    .slideshow .choices .choice-button .material-button {
      min-width: 60px; }

.slide-content > button:last-of-type {
  margin-left: 30px; }

.slide-content > button:first-of-type {
  margin-left: 0; }

/* Pagination */
.pagination {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px; }
  .pagination .bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #c1c1c1;
    border-radius: 50%;
    margin-left: 10px;
    transition: background 0.3s cubic-bezier(0.55, 0, 0.55, 0.2) 0.3s; }
  .pagination .bullet:first-child {
    margin-left: 0; }
  .pagination .bullet.active {
    background: #00acb4; }

@media (max-height: 400px) {
  .pagination {
    display: none; } }
/* APP Sections */
.app-sections .section-btn {
  width: 33.33333333%;
  display: block;
  float: left;
  text-align: center;
  min-height: 118px;
  border-radius: 0;
  margin: 0 0 20px 0;
  padding: 0;
  min-width: initial;
  white-space: initial;
  line-height: 18px; }
  .app-sections .section-btn img {
    margin-bottom: 10px; }
  .app-sections .section-btn span:not(.ripple-effect) {
    display: block;
    font-size: 13px;
    color: #4a4a4a;
    text-transform: none; }

/* Profile */
.user-profile {
  margin: -16px -16px 0 -16px; }
  .user-profile .user-name {
    padding: 30px 0;
    height: 150px;
    background: #f6f6f6; }
    .user-profile .user-name .user-first-letter {
      border-radius: 50%;
      background: #87d6d9;
      color: #fff;
      width: 90px;
      height: 90px;
      display: block;
      margin: auto;
      line-height: 90px;
      font-size: 36px;
      text-align: center; }
  .user-profile .user-information {
    padding: 44px 16px 16px;
    position: relative;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.24); }
    .user-profile .user-information .material-fab.edit-mode {
      position: absolute;
      right: 16px;
      top: 0;
      transform: translateY(-50%); }
    .user-profile .user-information .profile-section .icon-group .icon {
      margin-right: 26px;
      vertical-align: middle; }
    .user-profile .user-information .profile-section .icon-group .text-row {
      display: inline-block;
      margin-left: 0;
      color: #4a4a4a;
      font-size: 16px; }
    .user-profile .user-information .profile-section .icon-group .editable-field {
      display: inline-block; }
      .user-profile .user-information .profile-section .icon-group .editable-field .material-input-wrapper {
        margin: 0 0 8px 0; }
    .user-profile .user-information .profile-section .icon-group.no-icon {
      margin-left: 50px; }
    .user-profile .user-information .profile-section .text-row {
      margin: 0 0 8px 50px;
      color: #757575;
      font-size: 14px;
      line-height: 34px;
      height: 34px; }
    .user-profile .user-information .profile-section .editable-field .material-input-wrapper {
      display: none;
      margin: 0 0 8px 50px; }
    .user-profile .user-information .profile-section .editable-field.editable .material-input-wrapper {
      display: block; }
    .user-profile .user-information .profile-section .editable-field.editable .text-row {
      display: none; }

/*# sourceMappingURL=epoc.css.map */
