$primary: #00acb4;
$primary_light: #87d6d9;
$grey: #4a4a4a;
$white: #fff;
$light_grey: #c1c1c1;
$profile_background: #f6f6f6;
$grey_secondary: #757575;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  color: $grey;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}

b {
  font-family: "Roboto Bold", sans-serif;
}

.ep-right {
  float: right;
}

.ep-left {
  float: left;
}

.hidden {
  display: none !important;
}

#container {
  width: 100%;
  height: 100%;

  .app {
    width: 100%;
    height: 100%;

    .app-content {
      width: 100%;
      height: 100%;
      padding: 70px 0 0;

      .section-info {
        padding: 0 16px 16px;

        h1 {
          font-family: "Roboto Medium", sans-serif;
          font-size: 16px;
          margin-top: 30px;

          &:first-of-type {
            margin-top: 10px;
          }
        }

        h2 {
          font-family: "Roboto Bold", sans-serif;
          margin-top: 30px;
          color: $primary;
          font-size: 16px;
        }

        .img-caption-group {
          img {
            max-width: 100%;
            display: block;
            margin: auto;
          }

          .caption {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            font-family: 'Roboto Medium', sans-serif;
          }
        }
      }
    }
  }
}

/* Slideshow */
.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slideshow > .slide {
  background: $white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateX(100%);
  transition: transform .3s ease .3s;
}

.slideshow > .slide.current {
  transform: translateX(0);
}

.slideshow > .slide.done {
  transform: translateX(-100%);
}

.slideshow > .slide > .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 16px;
}

.slideshow {
  > .slide {
    > .slide-content {
      > .slide-icon {
        background-color: $primary;
        width: 104px;
        height: 104px;
        display: block;
        margin: 0 auto 38px;
        border: solid 2px $white;
        border-radius: 50%;
        position: relative;

        &:after {
          content: "?";
          display: block;
          width: 106px;
          height: 106px;
          margin: auto;
          border: solid 4px $primary;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 45px;
          font-family: "Roboto Light", sans-serif;
          font-weight: bold;
          line-height: 112px;
          color: $white;
        }
      }
    }
  }
}

.slideshow > .slide > .slide-content > h1 {
  font-size: 20px;
  margin: 0 0 20px;
}

.slideshow > .slide > .slide-content > p {
  font-size: 14px;
  margin: 0 0 30px 0;
}

.slideshow > .slide > .slide-content > .input-group {
  margin: 0 14px;
}

/* Slideshow choices */
.slideshow {
  .choices {
    max-width: 200px;
    overflow: hidden;
    text-align: center;
    margin: auto;

    .choice-button {
      display: inline-block;

      &:nth-child(even) {
        margin-left: 30px;
      }

      &:nth-child(1) {
        .ep-btn {
          margin: 0;
        }
      }

      &:nth-child(2) {
        .ep-btn {
          margin: 0;
        }
      }

      .material-button {
        min-width: 60px;
      }
    }
  }
}

.slide-content > button:last-of-type {
  margin-left: 30px;
}

.slide-content > button:first-of-type {
  margin-left: 0;
}

/* EPOC test */
.epoc-test {
  > .slideshow {
    > .slide {
      > .slide-content {
        text-align: left;
        position: initial;
        top: initial;
        left: initial;
        transform: none;
        padding-top: 70px;

        > p {
          margin: 0 0 16px 0;
        }
      }
    }

    > .slide.epoc-test-intro {
      > .slide-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 0;
      }
    }

    .choices {
      width: 100%;
      max-width: initial;
      .choice-button {
        display: block;
        margin-top: 10px;

        &:first-of-type {
          margin-top: 0;
        }

        &:nth-child(even) {
          margin-left: initial;
        }

        .material-button {
          margin: 0;
          text-transform: initial;
          white-space: normal;
          text-align: left;
        }
      }
    }
  }

  .epoc-test-score {
    padding: 70px 16px 16px;
    width: 100%;
    height: 100%;
    overflow: auto;

    h1 {
      font-family: "Roboto Medium", sans-serif;
      font-size: 16px;
      margin-top: 10px;
      text-align: center;
    }

    h2 {
      font-family: "Roboto Bold", sans-serif;
      color: $primary;
      font-size: 16px;
      margin-top: 20px;
    }

    h2.score {
      font-size: 46px;
      text-align: center;
    }
  }
}

/* Pagination */
.pagination {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;

  .bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $light_grey;
    border-radius: 50%;
    margin-left: 10px;
    transition: background .3s cubic-bezier(0.55, 0, 0.55, 0.2) .3s;
  }

  .bullet:first-child {
    margin-left: 0;
  }

  .bullet.active {
    background: $primary;
  }
}

@media(max-height: 400px) {
  .pagination {
    display: none;
  }
}

/* APP Sections */
.app-sections {
  .section-btn {
    width: 33.33333333%;
    display: block;
    float: left;
    text-align: center;
    min-height: 118px;
    border-radius: 0;
    margin: 0 0 20px 0;
    padding: 0;
    min-width: initial;
    white-space: initial;
    line-height: 18px;

    img {
      margin-bottom: 10px;
    }

    span:not(.ripple-effect) {
      display: block;
      font-size: 13px;
      color: $grey;
      text-transform: none;
    }
  }
}

/* Profile */
.user-profile {
  margin: -16px -16px 0 -16px;

  .user-name {
    padding: 30px 0;
    height: 150px;
    background: $profile_background;

    .user-first-letter {
      border-radius: 50%;
      background: $primary_light;
      color: $white;
      width: 90px;
      height: 90px;
      display: block;
      margin: auto;
      line-height: 90px;
      font-size: 36px;
      text-align: center;
    }
  }

  .user-information {
    padding: 44px 16px 16px;
    position: relative;
    box-shadow: 0 -2px 2px rgba(0,0,0,.24);

    .material-fab.edit-mode {
      position: absolute;
      right: 16px;
      top: 0;
      transform: translateY(-50%);
    }

    .profile-section {
      .icon-group {
        .icon {
          margin-right: 26px;
          vertical-align: middle;
        }

        .text-row {
          display: inline-block;
          margin-left: 0;
          color: $grey;
          font-size: 16px;
        }

        .editable-field {
          display: inline-block;

          .material-input-wrapper {
            margin: 0 0 8px 0;
          }
        }
      }

      .icon-group.no-icon {
        margin-left: 50px;
      }

      .text-row {
        margin: 0 0 8px 50px;
        color: $grey_secondary;
        font-size: 14px;
        line-height: 34px;
        height: 34px;
      }

      .editable-field {
        .material-input-wrapper {
          display: none;
          margin: 0 0 8px 50px;
        }
      }

      .editable-field.editable {
        .material-input-wrapper {
          display: block;
        }

        .text-row {
          display: none;
        }
      }
    }
  }
}

/* Inhalers */
.inhaler-section {
  img {
    max-width: 50%;
    margin: 0 auto 10px auto;
    display: block;
  }

  .material-button {
    margin: 0;
  }
}

.inhaler-steps {
  margin-left: 16px;
  border-left: solid 2px $primary;

  .inhaler-step {
    position: relative;
    padding: 14px 0;
    .step {
      width: 26px;
      height: 26px;
      line-height: 22px;
      background: $white;
      border-radius: 50%;
      border: solid 2px $primary;
      position: absolute;
      transform: translateX(-50%);
      display: block;
      text-align: center;
    }

    p {
      display: inline-block;
      margin: 0 0 0 20px;
      line-height: 26px;
    }
  }
}

/* Smokers and EPOC */
.smokers, .epoc-test {
  .btn-info {
    margin: 20px 0 0;
  }
}

/* EPOC chart */
.epoc-chart {
  width: 100%;
  height: 100%;
  position: relative;
}