/** RIPPLE EFFECT **/
.ripple-effect {
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.5); }

.ripple-effect.animate {
  animation: ripple 0.65s cubic-bezier(0.55, 0, 0.55, 0.2); }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
/* Material styles */
.form-control {
  background: #fff;
  border-radius: 0;
  border: 0;
  border-bottom: solid 0.1rem #c1c1c1;
  box-shadow: none;
  height: 34px;
  position: relative;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-size: 14px; }
  .form-control:active, .form-control:focus {
    box-shadow: none; }

/* Workaround for date inputs */
div.form-control {
  text-align: left;
  line-height: 34px; }

.material-input-wrapper {
  position: relative;
  display: block;
  margin: 0 14px; }
  .material-input-wrapper:after {
    position: absolute;
    left: 0;
    /* Keep in sync with input height */
    top: 31px;
    right: 0;
    content: '';
    z-index: 12;
    width: 0%;
    height: 0.2rem;
    background-color: #00acb4;
    transition: width 300ms ease 0s; }
  .material-input-wrapper label {
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 3px;
    padding-right: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, 28px, 0) scale(1);
    transform: translate3d(0, 28px, 0) scale(1);
    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left; }
  .material-input-wrapper > .material-char-counter {
    margin: 6px 0 0;
    text-align: right;
    font-size: 12px; }

.material-input-wrapper.focused label {
  transform: translate3d(0, 6px, 0) scale(0.75); }
.material-input-wrapper.focused:after {
  width: 100%; }

.material-input-wrapper.has-value label {
  transform: translate3d(0, 6px, 0) scale(0.75); }

.material-input-wrapper.is-invalid.touched {
  color: #c62828; }
  .material-input-wrapper.is-invalid.touched .form-control {
    border-color: #c62828; }
  .material-input-wrapper.is-invalid.touched:after {
    background-color: #c62828; }

/* Buttons */
.material-button {
  text-transform: uppercase;
  color: #fff;
  background-color: #00acb4;
  margin: 25px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: 0;
  border: 0;
  display: inline-block;
  padding: 0 6px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
  min-width: 108px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: 'Roboto Medium', sans-serif; }
  .material-button img {
    vertical-align: middle; }

.material-button.btn-dark {
  background-color: #c1c1c1; }

.material-button.selected,
.material-button.borderless.selected {
  background-color: #00acb4; }

.material-button.borderless.selected {
  color: #fff; }

.material-button[disabled] {
  background: rgba(79, 79, 79, 0.26);
  color: rgba(0, 0, 0, 0.38);
  box-shadow: none; }

.btn-full-width {
  width: 100%; }

.material-button.borderless {
  background-color: inherit;
  color: #00acb4;
  font-weight: normal;
  box-shadow: none;
  font-family: "Roboto Regular", sans-serif; }
  .material-button.borderless .ripple-effect {
    background-color: rgba(0, 0, 0, 0.2); }

.material-button.dropdown-btn {
  width: 100%;
  margin: 0;
  text-align: left;
  color: #4a4a4a; }
  .material-button.dropdown-btn:after {
    content: url("../img/material/expand.svg");
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.material-button.dropdown-btn.opened:after {
  transform: translateY(-50%) rotate(180deg); }

.material-button.bordered {
  background-color: transparent;
  border: solid 2px #00acb4;
  color: #565656; }

.material-button.bordered.selected {
  background: #00acb4;
  color: #fff; }

.material-button:active,
.material-button.btn-dark:active,
.material-button.borderless:active,
.material-button.bordered:active,
.material-button.dropdown-btn:active {
  background-color: #00acb4 !important;
  color: #fff !important; }

/* Material Design: Calendar */
.material-calendar-wrapper {
  width: 100%;
  height: 100%; }
  .material-calendar-wrapper .overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .material-calendar-wrapper .material-calendar {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .4s ease;
    width: 320px;
    opacity: 0; }
    .material-calendar-wrapper .material-calendar .material-calendar-header {
      padding: 10px 20px;
      background: #00acb4;
      color: #fff; }
      .material-calendar-wrapper .material-calendar .material-calendar-header span {
        display: block;
        opacity: .7; }
      .material-calendar-wrapper .material-calendar .material-calendar-header .active {
        opacity: 1; }
      .material-calendar-wrapper .material-calendar .material-calendar-header .calendar-year {
        font-size: 16px;
        margin-bottom: 10px; }
      .material-calendar-wrapper .material-calendar .material-calendar-header .calendar-date {
        font-size: 36px; }
    .material-calendar-wrapper .material-calendar .calendar-content {
      background: #fff;
      position: relative; }
      .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation {
        padding: 12px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        /* 24px icons + 24px padding */
        height: 48px;
        line-height: 24px; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation .navigation-left {
          float: left; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation .navigation-right {
          float: right; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation [class*="navigation-"] {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          position: relative; }
          .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation [class*="navigation-"]:before {
            content: "";
            background: #c1c1c1;
            border-radius: 50%;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: scale(0); }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation span[class*="chevron-"] {
          width: 24px;
          height: 24px;
          display: inline-block; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation [class*="navigation-"].animate:before {
          animation: calendar 0.6s ease; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation .chevron-left {
          background: url("../img/material/chevron_left.svg") center center no-repeat; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-navigation .chevron-right {
          background: url("../img/material/chevron_right.svg") center center no-repeat; }
      .material-calendar-wrapper .material-calendar .calendar-content .calendar-days-header {
        list-style: none;
        padding: 0 20px;
        line-height: 12px;
        opacity: 0.5;
        height: 12px;
        font-weight: 500;
        margin: 0;
        text-align: center; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-days-header li {
          display: inline-block;
          width: 40px;
          font-weight: bold;
          font-size: 12px;
          text-align: center; }
      .material-calendar-wrapper .material-calendar .calendar-content .calendar-days {
        padding: 20px; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-days .calendar-day {
          width: 40px;
          height: 40px;
          display: inline-block;
          text-align: center;
          line-height: 40px;
          font-size: 12px;
          border-radius: 50%;
          transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s ease; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-days .empty-day {
          height: 0; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-days .current-day {
          font-weight: bold;
          color: #00acb4; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-days .selected-day {
          background-color: #00acb4;
          color: #fff; }
      .material-calendar-wrapper .material-calendar .calendar-content .calendar-years {
        padding: 8px 14px;
        overflow: scroll;
        background: #fff;
        max-height: 280px; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-years .calendar-year {
          width: 48px;
          height: 48px;
          margin: 8px auto;
          font-size: 14px;
          line-height: 48px;
          text-align: center;
          border-radius: 50%;
          transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s ease; }
        .material-calendar-wrapper .material-calendar .calendar-content .calendar-years .selected-year {
          background-color: #00acb4;
          color: #fff; }

.material-calendar-wrapper.material-calendar-display .material-calendar {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; }

@keyframes calendar {
  100% {
    opacity: 0;
    transform: scale(1.5); } }
.widget-buttons {
  background: #fff;
  padding: 0 14px 5px;
  text-align: right; }
  .widget-buttons button {
    margin: 0;
    min-width: 88px; }

/* Time picker */
.material-time-picker-wrapper {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .material-time-picker-wrapper .material-time-picker {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all .4s ease;
    width: 320px;
    opacity: 0;
    background: #fff;
    z-index: 99; }
    .material-time-picker-wrapper .material-time-picker .time-picker-header {
      padding: 10px 20px;
      background: #00acb4;
      color: #fff; }
      .material-time-picker-wrapper .material-time-picker .time-picker-header span.info {
        display: block;
        opacity: .7;
        font-size: 16px; }
      .material-time-picker-wrapper .material-time-picker .time-picker-header h1.selected-time {
        margin: 0 !important;
        font-size: 36px !important; }
    .material-time-picker-wrapper .material-time-picker .time-spinner {
      height: 110px;
      overflow: auto;
      padding: 16px; }
      .material-time-picker-wrapper .material-time-picker .time-spinner:after {
        position: absolute;
        content: ":";
        font-size: 36px;
        right: 50%;
        line-height: 72px; }
      .material-time-picker-wrapper .material-time-picker .time-spinner .spinner-hours, .material-time-picker-wrapper .material-time-picker .time-spinner .spinner-minutes {
        text-align: center;
        width: 50%;
        float: left;
        position: relative;
        font-size: 36px;
        height: 100%;
        overflow: auto;
        padding: 18px 0; }
        .material-time-picker-wrapper .material-time-picker .time-spinner .spinner-hours .time-button.selected, .material-time-picker-wrapper .material-time-picker .time-spinner .spinner-minutes .time-button.selected {
          color: #00acb4; }

.material-time-picker-wrapper.material-time-picker-display .material-time-picker {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; }

/* Material Loader */
.pulses-loader {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto; }
  .pulses-loader div {
    width: 100%;
    height: 100%;
    background-color: #00acb4;
    border-radius: 50%;
    opacity: .6;
    -webkit-animation: epoc-loader 2s infinite ease-in-out;
    animation: epoc-loader 2s infinite ease-in-out;
    position: absolute; }
  .pulses-loader .second {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }

@-webkit-keyframes epoc-loader {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes epoc-loader {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/* Material app bar */
.material-app-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #00acb4;
  color: #fff;
  display: block;
  z-index: 6355; }
  .material-app-bar-container .material-app-bar {
    height: 56px; }
    .material-app-bar-container .material-app-bar h1 {
      margin: 0;
      font-family: "Roboto Regular", sans-serif;
      font-size: 20px;
      font-weight: normal;
      display: inline-block;
      line-height: 56px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 16px; }
    .material-app-bar-container .material-app-bar .app-bar-icon {
      min-width: initial;
      line-height: initial;
      height: 100%;
      float: left;
      margin: 0;
      padding: 0 10px;
      width: 56px; }
    .material-app-bar-container .material-app-bar .info-icon {
      float: right; }
  .material-app-bar-container .material-tabs-container {
    height: 48px; }
    .material-app-bar-container .material-tabs-container .material-tab {
      height: 100%;
      margin: 0;
      box-shadow: none;
      font-size: 14px;
      font-family: "Roboto Regular", sans-serif;
      color: rgba(255, 255, 255, 0.7);
      min-width: initial; }
    .material-app-bar-container .material-tabs-container .material-tab.selected {
      color: #fff; }
    .material-app-bar-container .material-tabs-container .material-tabs-indicator {
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0;
      transition: left 1s cubic-bezier(0.23, 1, 0.32, 1); }

.material-app-bar-container.back-icon-visible h1 {
  padding-left: 0; }

.material-app-bar-container.fixed {
  top: -54px; }

.material-app-bar-container.zDepth1 {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12); }

.material-app-bar-container.zDepth2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23); }

.material-app-bar-container.zDepth3 {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23); }

.material-app-bar-container.zDepth4 {
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 28px rgba(0, 0, 0, 0.22); }

.material-app-bar-container.zDepth5 {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22); }

/* Tabs content */
.material-tabs-content {
  width: 100%;
  height: 100%; }
  .material-tabs-content .tab-content {
    position: absolute;
    width: 100%;
    padding: 50px 16px 16px;
    transition: opacity .8s ease;
    opacity: 0;
    display: none;
    z-index: 6000; }
  .material-tabs-content .tab-content.selected {
    opacity: 1;
    display: block;
    z-index: 6002; }
  .material-tabs-content .tab-content.from-left {
    animation: tab-from-left 0.65s cubic-bezier(0.23, 1, 0.32, 1); }
  .material-tabs-content .tab-content.from-right {
    animation: tab-from-right 0.65s cubic-bezier(0.23, 1, 0.32, 1); }
  .material-tabs-content .tab-content.to-right {
    animation: tab-to-right 0.65s cubic-bezier(0.23, 1, 0.32, 1); }
  .material-tabs-content .tab-content.to-left {
    animation: tab-to-left 0.65s cubic-bezier(0.23, 1, 0.32, 1); }

@-webkit-keyframes tab-from-left {
  0% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@keyframes tab-from-left {
  0% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@keyframes tab-from-right {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@-webkit-keyframes tab-from-right {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }
@keyframes tab-to-left {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%); } }
@-webkit-keyframes tab-to-left {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%); } }
@keyframes tab-to-right {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%); } }
@-webkit-keyframes tab-to-right {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%); } }
/* Cards */
.material-card {
  width: 100%;
  background: #fcfcfc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  margin-bottom: 20px; }
  .material-card .card-info-wrapper {
    padding: 20px 16px 0; }
    .material-card .card-info-wrapper h1.card-title {
      font-size: 14px;
      font-weight: bold;
      font-family: 'Roboto Medium', sans-serif;
      margin: 0 0 14px !important; }
    .material-card .card-info-wrapper p {
      font-family: "Roboto Regular", sans-serif;
      margin: 0 0 16px;
      color: #757575; }
  .material-card .card-buttons {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    padding: 7px 10px;
    overflow: hidden; }
    .material-card .card-buttons .material-button {
      margin: 0  0 0 20px;
      min-width: initial;
      float: right; }

.fade-out {
  animation: fade-out 0.65s cubic-bezier(0.23, 1, 0.32, 1); }

@-webkit-keyframes fade-out {
  100% {
    opacity: 0; } }
@keyframes fade-out {
  100% {
    opacity: 0; } }
/* Dropdown */
.material-dropdown .dropdown-content {
  height: 0;
  overflow: hidden;
  margin: 10px 0;
  transition: height 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .material-dropdown .dropdown-content p {
    margin-top: 0; }

/* Float action buttons */
.material-fab {
  width: 56px;
  height: 56px;
  background: #00acb4;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); }
  .material-fab img {
    display: block;
    margin: auto; }
  .material-fab:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); }

/* Snackbar */
.material-snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 24px;
  line-height: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9025;
  color: #fff;
  transform: translateY(100%);
  transition: transform .3s ease 0s; }
  .material-snackbar p {
    margin: 0; }

.material-snackbar.open {
  transform: translateY(0); }

/*# sourceMappingURL=material.css.map */
